<!-- 下载器 -->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Download Anything</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/css/all.min.css"
          integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.8.1/dist/sweetalert2.min.css"
          integrity="sha256-3zRLY72E/DXtUTHfwuncqvSGgGZVAsqNUSGoranVNck=" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container py-4" id="app">

    <section class="d-flex mb-3" id="navBar" style="justify-content: space-evenly;">
        <div :class="currentPage === 'index' ? 'top-active' : ''" @click="changePage('index')" class="py-1">
            主页
        </div>
        <div :class="currentPage === 'downloading' ? 'top-active' : ''" @click="changePage('downloading')" class="py-1">
            下载中
        </div>
        <div :class="currentPage === 'finished' ? 'top-active' : ''" @click="changePage('finished')" class="py-1">
            已完成
        </div>
        <div :class="currentPage === 'trash' ? 'top-active' : ''" @click="changePage('trash')" class="py-1">
            垃圾箱
        </div>
        <div :class="currentPage === 'setting' ? 'top-active' : ''" @click="changePage('setting')" class="py-1">
            设置
        </div>
    </section>

    <!-- ======================================标题===================================================== -->

    <div class="d-flex flex-column">
        <h1>Download Anything</h1>
        <small>理论上可以下载一切的下载器(可以用手机控制)</small>
        <small>每次启动都是全新的，请一次性下载完</small>
    </div>

    <!-- Alert -->
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <strong>Hey man!</strong> 合理合法使用下载后的资源...
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row mt-4">

        <div class="col-lg-3 col-md-0" id="left">

            <!-- ===================================导航栏=================================== -->
            <section id="navList">
                <ul class="list-group">
                    <li :class="currentPage === 'index' ? 'list-group-item-secondary' : ''" @click="changePage('index')"
                        class="list-group-item d-flex align-items-center">
                        <i class="fas fa-home mr-3"></i>
                        <span>首页</span>
                    </li>
                    <li :class="currentPage === 'downloading' ? 'list-group-item-secondary' : ''"
                        @click="changePage('downloading')"
                        class="list-group-item d-flex align-items-center">
                        <i class="fas fa-download mr-3"></i>
                        <span class="mr-auto">下载中</span>
                        <span class="badge badge-primary badge-pill">12</span>
                    </li>
                    <li :class="currentPage === 'finished' ? 'list-group-item-secondary' : ''"
                        @click="changePage('finished')"
                        class="list-group-item d-flex align-items-center">
                        <i class="fas fa-check-circle mr-3"></i>
                        <span class="mr-auto">已完成</span>
                        <span class="badge badge-primary badge-pill">34</span>
                    </li>
                    <li :class="currentPage === 'trash' ? 'list-group-item-secondary' : ''" @click="changePage('trash')"
                        class="list-group-item d-flex align-items-center">
                        <i class="fas fa-trash mr-3"></i>
                        <span class="mr-auto">垃圾箱</span>
                        <span class="badge badge-primary badge-pill">122</span>
                    </li>
                    <li :class="currentPage === 'setting' ? 'list-group-item-secondary' : ''"
                        @click="changePage('setting')"
                        class="list-group-item d-flex align-items-center">
                        <i class="fas fa-cog mr-3"></i>
                        <span>设置</span>
                    </li>
                </ul>
            </section>

            <!-- ========================================下载总详情信息======================================== -->
            <section id="details">
                <div class="card mt-4">
                    <h5 class="card-header"><i class="fas fa-arrow-alt-circle-down mr-2"></i>下载详情</h5>
                    <div class="card-body">
                        <p class="card-text">
                        <p><i class="fas fa-greater-than-equal mr-3"></i>速度: 100MB/S</p>
                        <p><i class="fas fa-spinner mr-3"></i>进度: 16%</p>
                        <p><i class="fas fa-hourglass-start mr-3"></i>剩余10分钟</p>
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <!-- ================================首页===================================== -->

        <div class="col-lg-9 col-md-12" id="indexContainer" v-if="currentPage === 'index'">

            <!-- 轮播图 -->
            <div class="carousel slide mb-4" data-ride="carousel" id="carousel">
                <ol class="carousel-indicators">
                    <li :class="index == 0 ? 'active' : ''" :data-slide-to="index" data-target="#carousel"
                        v-for="(item, index) in carouselList"></li>
                </ol>
                <div class="carousel-inner">
                    <div :class="index == 0 ? 'active' : ''" class="carousel-item"
                         v-for="(item, index) in carouselList">
                        <img :alt="item.imageDes" :src="item.imageUrl" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{item.title}}</h5>
                            <p>{{item.des}}</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#carousel" role="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="sr-only">上一张</span>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#carousel" role="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="sr-only">下一张</span>
                </a>
            </div>

            <div class="mb-3">粘贴链接到下面, 然后点击下载按钮</div>

            <div class="input-group">
                <input aria-describedby="button-addon2" aria-label="粘贴URL到这里" class="form-control"
                       placeholder="粘贴URL到这里"
                       type="text">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="button-addon2" type="button">下载</button>
                </div>
            </div>

            <div class="text-center mt-3">
                <a class="d-inline"
                   href="javascript:void((function() {var href = btoa(window.location.href);var cookie = btoa(document.cookie);window.open(`http://127.0.0.1:10086/index.html?url=${href}&cookie=${cookie}`)})())"
                   id="bookMark">
                    把这个拖到书签栏
                </a>
            </div>


        </div>

        <!-- ===============================下载信息================================== -->

        <div class="col-lg-9 col-md-12"
             id="downloadContainer"
             v-if="currentPage === 'downloading' || currentPage === 'finished' || currentPage === 'trash'">

            <!-- 右下角的图标 -->
            <div class="rb-container">
                <!-- 添加下载任务 -->
                <div class="rb-button d-flex justify-content-center align-items-center rounded-circle bg-white"
                     data-placement="left"
                     data-toggle="tooltip" title="添加下载任务">
                    <i class="fas fa-plus"></i>
                </div>
                <!-- 开始所有下载 -->
                <div class="mt-3 rb-button d-flex justify-content-center align-items-center rounded-circle bg-white"
                     data-placement="left"
                     data-toggle="tooltip" title="开始所有下载">
                    <i class="fas fa-play"></i>
                </div>
                <!-- 暂停所有下载 -->
                <div class="mt-3 rb-button d-flex justify-content-center align-items-center rounded-circle bg-white"
                     data-placement="left"
                     data-toggle="tooltip" title="暂停下载任务">
                    <i class="fas fa-pause"></i>
                </div>
                <!-- 删除所有下载 -->
                <div class="mt-3 rb-button d-flex justify-content-center align-items-center rounded-circle bg-white"
                     data-placement="left"
                     data-toggle="tooltip" title="删除下载任务">
                    <i class="fas fa-trash"></i>
                </div>
            </div>

            <!-- ================================下载项===================================== -->

            <!-- 一个下载项 -->
            <section :class="index === downloadList.length - 1 ? 'border-bottom' : ''" :key="index"
                     class="download-item border-top"
                     v-for="(item, index) in downloadList">
                <div class="d-flex">
                    <!-- 下载类型图标 -->
                    <div class="d-flex justify-content-center align-items-center border-right download-type">
                        <i class="fas fa-file-video fa-3x text-danger"></i>
                    </div>
                    <!-- 图标右边的一堆信息 -->
                    <div class="d-flex flex-column flex-fill px-4 download-details"
                         style="justify-content: space-evenly;">
                        <!-- 第一行信息 -->
                        <section class="d-flex">
									<span class="font-weight-bold mr-auto download-title">
										文件名称保留文件名称保留文件名称保留文件名称保留文件名称保留文件名称保留文件名称保留文件名称保留文件名称保留文件名称保留文件名称保留文件名称保留
									</span>
                            <div class="text-muted download-status-lg">
                                正在下载中...
                            </div>
                        </section>
                        <!-- 第二行信息 -->
                        <section class="d-flex">
                            <div class="mr-auto text-muted">
                                总大小: 2333MB
                            </div>
                            <div class="text-muted download-status-sm">
                                正在下载中...
                            </div>
                            <div class="text-muted target-path">
                                目标位置: C:/Downloads/文件名称.mp4
                            </div>
                        </section>
                        <!-- 第三行信息 -->
                        <section class="d-flex">
                            <div class="mr-auto">
                                来源: <span class="text-danger">慕课网</span>
                            </div>
                            <div class="text-muted">
                                30MB/S
                            </div>
                            <div class="ml-2 text-muted">
                                100%
                            </div>
                        </section>
                    </div>


                    <!-- 下载控制按钮 -->
                    <section class="d-flex justify-content-center align-items-center border-left download-control"
                             style="width: 8rem;">
                        <div>
                            <i class="fas fa-play"></i>
                        </div>
                        <!-- <div>
                                暂停按钮
                            </div> -->
                        <div class="ml-4">
                            <i class="fas fa-trash"></i>
                        </div>
                    </section>
                </div>
                <!-- 进度条 -->
                <div class="bg-danger" style="width: 30%; height: 3px;"></div>
            </section>


            <!-- 应用卡片 -->
            <!-- <div class="row mt-3">
                <div class="col-4">
                    <div class="card" v-for="item in appList">
                        <div class="d-flex justify-content-center align-items-center" style="background-color: #d6d6d6; height: 12rem;">
                            <img style="width: 40%; height: auto;" :src="item.iconUrl" class="card-img-top" :alt="item.iconDes">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text" style="height: 100px; overflow: hidden;">
                                {{item.appDes}}
                            </p>
                            <a :href="item.downloadUrl + '?t=' + Date.now()" class="btn btn-secondary">
                                <i class="fas fa-cloud-download-alt mr-2"></i>下载
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

        <!-- ==============================一堆的设置项================================== -->
        <div class="col-lg-9 col-md-12" id="settingContainer" v-if="currentPage === 'setting'">
            <span class="small">设置 (设置有些是假的，暂时懒得实现了)</span>

            <form class="mt-3">
                <div class="form-group">
                    <label for="downloadPath">下载路径</label>
                    <input aria-describedby="下载路径" class="form-control" id="downloadPath" type="text">
                    <small class="form-text text-muted" id="downloadPathHelp">在这里填写下载路径.</small>
                </div>
                <div class="form-group">
                    <label for="threadNum">同时下载几个</label>
                    <input aria-describedby="并发数量" class="form-control" id="threadNum" type="text">
                    <small class="form-text text-muted" id="threadNumHelp">填写一个数字，请确保网速牛逼.</small>
                </div>
                <button class="btn btn-primary" type="button">保存</button>
            </form>
        </div>

    </div>

    <footer class="mt-5 text-center">
        <a class="text-muted" href="https://halo.cyblogs.top">CY'Blogs</a>
    </footer>

</div>

<script crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8="
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg="
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68="
        src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-bcjoJPe5pw5r6MHD5/5MYTmmQfjC/HEEIZ4Ya4cgJiE="
        src="https://cdn.jsdelivr.net/npm/sweetalert2@9.8.1/dist/sweetalert2.all.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-z4cKT3yF+afIn8eFXJc+nRpGtwcmNEClvf+ikgsZcRo="
        src="https://cdn.jsdelivr.net/npm/sockjs-client@1.4.0/dist/sockjs.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-J/Fmm7sRV2Xl80GnYljc6S/bKiEMLzDKDlu488D9TFs="
        src="https://cdn.jsdelivr.net/npm/stomp-websocket@2.3.4-next/lib/stomp.min.js"></script>
<script charset="utf-8" src="js/index.js" type="text/javascript"></script>
</body>
</html>
